<style>
    .aos-init[data-aos][data-aos].aos-animate {
        transform: unset;
    }
    /*Bootstrap Drop Downs click do not work with AOS hence this css is required*/
</style>
<nav id="header" class="navbar position-fixed ms-0 noSelect" data-aos="flip-left" data-aos-duration="3000">
    <div class="container">       
        <div class="ms-3 collapse navbar-collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li>
                    <a zora class="nav-link nav-text zimba" href="~/" onclick="Header.HighlightNavigationMenu(event,'#undefined')">
                        <img src="~/Content/images/7.png" alt="Home Icon" class="the-icon" />
                        Home
                    </a>
                </li>
                <li id="user-link">
                    <a zora class="nav-link nav-text zimba" href="~/Home/UserManagement" onclick="Header.HighlightNavigationMenu(event,'#user_ul')">
                        <img src="~/Content/images/18.png" alt="Home Icon" class="the-icon" />
                        User
                    </a>
                    <ul beer_bar id="user_ul" class="navbar-nav ms-5" style="display:none">
                        <li><a pichi class="nav-link nav-text-sm" href="#User" onclick="Header.ActiveInactive(event)">Manage</a></li>
                        <li><a pichi class="nav-link nav-text-sm" href="#UserPassword" onclick="Header.ActiveInactive(event)">Password</a></li>
                    </ul>
                </li>
                <li id="nmap-link">
                    <a zora class="nav-link nav-text zimba" href="~/Home/NMapCommandPage" onclick="Header.HighlightNavigationMenu(event,'#nmap_ul')">
                        <img src="~/Content/images/19.png" alt="Home Icon" class="the-icon" />
                        nMap
                    </a>
                    <ul beer_bar id="nMap_ul" class="navbar-nav ms-5" style="display:none">
                        <li><a pichi class="nav-link nav-text-sm" href="#NMapCommand" onclick="Header.ActiveInactive(event)">NMapCommand</a></li>
                    </ul>
                </li>

                <li id="nmap-link">
                    <a zora class="nav-link nav-text zimba" href="~/Home/ScanStatus" onclick="Header.HighlightNavigationMenu(event,'#scanstatus_ul')">
                        <img src="~/Content/images/22.png" alt="Home Icon" class="the-icon" />
                        Scans
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>