<!--<div>
    <button onclick="PracticeUI.Click_Button_HIMANSHU(event )">Blah..Blah..</button>
</div>
<div id="table_gen"></div>
<div>
    <button onclick="PracticeUI.Create_Ajax_Table(event)">CreateActorable</button>
</div>
<div id="btn_ajax_table_gen"></div>
<hr/>-->
<div>
    <h2>Show all films of the actor "PENELOPE CRONYN"</h2>
    <button onclick="PracticeUI.click_ActorByNameButton(event)" class="m-2">Films By Penelope Cronyn</button>
    <div id="btn_GetFilmsByPenelopeCronyn" class="table table-bordered table-sm table-hover"></div>
</div>
<hr />
<div>
    <h2>Show all films of the actor with first name "PENELOPE"</h2>
    <button onclick="PracticeUI.GetFilmsByPenelope_Table(event)" class="m-2">Films By first name "Penelope"</button>
    <div id="btn_GetFilmsByPenelope" class="table table-bordered table-sm table-hover"></div>
</div>
<hr />
<div>
    <h2>Show all films of the actor with first name "PENELOPE" with Pagination</h2>
    <div id="btn_GetFilmsByPenelope_Pagination" class="table table-bordered table-sm table-hover table-dark"></div>
    <button id="btnPrev" onclick="PracticeUI.Btn_Prev(event)">Previous</button>
    <button id="btnNext" onclick="PracticeUI.Btn_Next(event)" >Next</button>
</div>
<hr />
