/PasToMicroservice/.vs
/PasToMicroservice/bin
/PasToMicroservice/obj
/The PAS Tool/The PAS Tool/PassTo/PassTo/bin
/The PAS Tool/The PAS Tool/PassTo/PassTo/.vs
/The PAS Tool/The PAS Tool/PassTo/PassTo/obj
