
::-webkit-scrollbar {
    width: 15px;
    /*width: 0px;*/
}

/* Track */
::-webkit-scrollbar-track {
    /*background: #f1f1f1;*/
    /*background: #888;*/
    background-color: rgb(250,250,250);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border: 2px solid rgba(220,220,220, .3);
    /*border-right: 2px solid rgba(220,50,35,.5);*/
    background: white;
    /*border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;*/
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(200,200,200, .3);
    }
.dl-horizontal dt {
    white-space: normal;
}

.shr {
    margin-left: 25%;
    width: 50%;
}

.custom-download-button {
    width: 150px;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}

.shrd {
    background-color: rgb(220,50,35);
    margin-left: 25%;
    width: 50%;
}

.text-black-75 {
    --bs-text-opacity: 1;
    color: rgba(0, 0, 0, 0.75) !important;
}

.zimba {
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: rgba(220,220,220,.5);
    text-decoration-thickness: .8px;
}   
.nav-text {
    color: rgb(120,130,145);
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.nav-link.active {
    color: rgb(220,50,35) !important;
    text-shadow: 1px 1px 3px rgba(50,50,50,.5);
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.nav-link:hover {
    color: rgb(120,130,145) !important;
    text-shadow: 1px 1px 3px rgba(50,50,50,.5);
    letter-spacing: 3px;
}

.bar-active {
    color: rgb(220,50,35) !important;
    text-shadow: 1px 1px 3px rgba(50,50,50,.5);
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.nav-text-sm {
    color: rgb(115,205,170);
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.the-icon {
    width: 40px;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    border: 4px solid rgb(200,200,200);
}

.nav-brand {
    color: rgb(220,50,35);
    font-size: 35px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 2px 4px 15px grey;
    text-decoration-line: none;
}

.btn-alstom-carbon-blue {
    color: #fff;
    background-color: #4B5A69 !important;
    border-color: #4B5A69 !important;
}

.fs-norm {
    font-size: 14px;
}

.fs-small {
    font-size: 12px;
}

.fs-very-small {
    font-size: 10px;
}

.fs-tiny {
    font-size: 8px;
}


.rounded-5 {
    border-radius: 5px;
}

.rounded-6 {
    border-radius: 6px;
}

.rounded-7 {
    border-radius: 7px;
}

.rounded-8 {
    border-radius: 8px;
}

.rounded-9 {
    border-radius: 9px;
}

.rounded-10 {
    border-radius: 10px;
}

.rounded-bottom-10 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.rounded-right-10 {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.rounded-left-10 {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.gradient {
    background-image: linear-gradient(rgb(30,50,70),rgb(120,130,145),rgb(115,215,170), rgb(255,255,255));
}

.pot {
    -webkit-animation: pot 5s ease-in-out infinite alternate;
}

@-webkit-keyframes pot {
    from {
        left: 0;
    }

    to {
        left: 90%;
    }
}

.carousel-caption-1 {
    position: absolute;
    top: 10%;
    right: 15%;
    /*bottom: 1.25rem;*/
    left: 15%;
    /* padding-top: 1.25rem;
    padding-bottom: 1.25rem;*/
    color: #fff;
    text-align: center;
}

.rotateZOnce {
    -webkit-animation: rotateZOnce 3s ease-in-out alternate;
    -moz-animation: rotateZOnce 3s ease-in-out alternate;
    animation: rotateZOnce 3s ease-in-out alternate;
}

@-webkit-keyframes rotateZOnce {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.bg-pannel {
    border-radius: 10px;
    /*background-color: rgb(30,50,70);*/
    color: rgb(100,100,100);
    border: 2px solid rgb(200,200,200);
    box-shadow: 2px 1px 20px rgb(200,200,200);
}

.bg-pannel-outline {
    border: 1px solid rgba(220,220,220,.3)
}

.info-pannel {
    letter-spacing: 2px;
    color: rgb(115,205,170);
    border: 2px solid rgb(200,200,200);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-width: 0px;
    margin-bottom: 0px;
    width: 90%;
    box-shadow: 2px 1px 20px rgb(200,200,200);
    font-size: 12px;
}

.high-lighter {
    background-color: rgb(30,50,70);
}

.high-lighter {
    position: absolute;
    font-size: 25px;
    text-align: center;
    width: 35px;
    height: 35px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    font-weight: 400;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    color: rgb(220, 50, 35);
    transition: 1s ease-in-out;
}

    .high-lighter:hover {
        color: white;
        bottom: 30px;
        height: 45px;
        width: 45px;
        font-weight: 800;
        font-size: 40px;
        transform: scale(1.3)
    }

.icon {
    background-color: rgb(30,50,70);
    position: absolute;
    font-size: 15px;
    text-align: center;
    width: 30px;
    height: 30px;
    font-weight: 400;
    left: 0px;
    top: 50px;
    z-index: 2;
    color: rgb(205, 164, 94);
    transition: 1s ease-in-out;
}

.hov, .hov a, .hov p {
    transition: 5s ease-in-out;
}

    .hov:hover a {
        color: black;
    }

    .hov:hover p {
        color: black;
    }

    .hov:hover, .hov:hover a {
        color: black;
        background-color: red;
    }

.glow {
    /*font-size: 80px;*/
    color: #fff;
    /*text-align: center;*/
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.text-glow-light {
    /*font-size: 80px;*/
    color: #fff;
    /*text-align: center;*/
    -webkit-animation: text-glow-light 1s ease-in-out infinite alternate;
    -moz-animation: text-glow-light 1s ease-in-out infinite alternate;
    animation: text-glow-light 1s ease-in-out infinite alternate;
}

@-webkit-keyframes text-glow-light {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.text-glow-dark {
    /*font-size: 80px;*/
    color: rgb(30,50,70);
    /*text-align: center;*/
    -webkit-animation: text-glow-dark 1s ease-in-out infinite alternate;
    -moz-animation: text-glow-dark 1s ease-in-out infinite alternate;
    animation: text-glow-dark 1s ease-in-out infinite alternate;
}

@-webkit-keyframes text-glow-dark {
    from {
        text-shadow: 0 0 10px rgba(255,255,0,1), 0 0 20px rgba(255,255,0,.2), 0 0 30px rgba(255,255,0,.4), 0 0 40px rgba(255,255,0,.6), 0 0 50px rgba(255,255,0,.8), 0 0 60px rgba(255,255,0,1), 0 0 70px rgba(255,0,255,1);
    }

    to {
        text-shadow: 0 0 20px rgba(255,255,0,1), 0 0 30px rgba(255,255,0,.2), 0 0 40px rgba(255,255,0,.4), 0 0 50px rgba(255,255,0,6), 0 0 60px rgba(255,255,0,.8), 0 0 70px rgba(255,255,0,1), 0 0 80px rgba(255,0,255,1);
    }
}

.shades {
    background-image: linear-gradient(to bottom right, rgba(120,120,120,.6), rgba(120,120,120,.4), rgba(255,255,255,.5), rgba(255,255,255,1))
}

.move-top {
    position: fixed;
    display: none;
    right: 40px;
    bottom: 40px;
    z-index: 99;
}

.accordion-button.collapsed {
    background-image: linear-gradient(to bottom right, rgba(220,220,220,.6), rgba(220,220,220,.4), rgba(255,255,255,.5), rgba(255,255,255,1))
}

.accordion-button:not(.collapsed) {
    color: rgb(220,50,35);
    font-weight: 800;
    background-image: linear-gradient(to bottom right, rgba(255,165,0,.6), rgba(255,165,0,.4), rgba(255,255,255,.5), rgba(255,255,255,1));
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.label-main {
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 3px 5px gray;
}

.dt-button-1 {
    /*background-color: rgba(30,50,70) !important;*/
    background-color: rgb(115,205,170) !important;
    color: black !important;
    font-size: 12px !important;
    border: 1px solid rgb(200,200,200);
    border-radius: 5px !important;
}

.Smartly-Embossed {
    color: #121212;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);
}

.Dropping-It-Elegantly {
    color: #121212;
    text-shadow: 0 2px 6px #747474, -1px 3px 1px #767676, -2px 5px 1px #787878, -3px 7px 1px #7a7a7a, -4px 9px 1px #7f7f7f, -5px 11px 1px #838383, -6px 13px 1px #878787, -7px 15px 1px #8a8a8a, -8px 17px 1px #8e8e8e, -9px 19px 1px #949494, -10px 21px 1px #989898, -11px 23px 1px #9f9f9f, -12px 25px 1px #a2a2a2, -13px 27px 1px #a7a7a7, -14px 29px 1px #adadad, -15px 31px 1px #b3b3b3, -16px 33px 1px #b6b6b6, -17px 35px 1px #bcbcbc, -18px 37px 1px #c2c2c2, -19px 39px 1px #c8c8c8, -20px 41px 1px #cbcbcb, -21px 43px 1px #d2d2d2, -22px 45px 1px #d5d5d5, -23px 47px 1px #e2e2e2, -24px 49px 1px #e6e6e6, -25px 51px 1px #eaeaea, -26px 53px 1px #efefef;
}

.Emerging-Out {
    color: #dfdfdf;
    text-shadow: 0 2px 2px #dfdfdf, -2px 5px 1px #b8b8b8, -4px 8px 0px #979797, -6px 11px 0px #747474, -8px 14px 0px #565656, -10px 17px 0px #343434, -12px 20px 0px #171717, -14px 23px 0px #000;
}

.center-shadow {
    color: RGB(220,30,55);
    text-shadow: 3px 0px 7px rgba(81,67,21,0.2), -3px 0px 7px rgba(81,67,21,0.2), 0px 4px 7px rgba(81,67,21,0.2);
}

.kiss-text {
    color: RGB(220,30,55);
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
}

.bold-shadow {
    text-shadow: 2px 5px 3px gray
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .noSelect:focus {
        outline: none !important;
    }

.ph-small {
}

    .ph-small::placeholder {
        font-size: 10px;
        font-weight: 600;
        color: rgb(200,200,200)
    }

.img-tiny {
    width: 15px;
}

.img-small {
    width: 50px;
}

.img-normal {
    width: 150px;
}

.alstom-red-color {
    color: rgb(220,50,35);
}

.alstom-red-bk-color {
    background-color: rgb(220,50,35);
}

/* my own */

.table-scr {
    width: 100px;
    max-width: 1000px;
    max-height: 200px;
    overflow: auto;
}

.specials {
    overflow: hidden;
}

    .specials .nav-tabs {
        border: 0;
    }

    .specials .nav-link {
        border: 0;
        padding: 12px 15px;
        transition: 0.3s;
        color: rgb(150,150,150);
        border-radius: 0;
        /*border-right: 2px solid #cda45e;*/
        font-weight: 600;
        font-size: 10px;
        transition: 5s;
    }

        .specials .nav-link:hover {
            color: white;
            background-color: rgb(220,50,35);
        }

        .specials .nav-link.active {
            color: rgb(15,15,15);
            background: rgb(220,200,220);
            /*border-color: rgb(220,200,220);*/
            /*background: #cda45e;*/
            /* border-color: #cda45e;*/
            border-left: 2px solid rgb(115,205,170);
            border-top: 2px solid rgb(115,205,170);
            border-bottom: 2px solid rgb(115,205,170);
            /*border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;*/
            /*border-radius:50%;*/
            border-right: none;
        }

        .specials .nav-link:hover {
            border-color: #cda45e;
        }

    .specials .tab-pane.active {
        -webkit-animation: fadeIn 0.5s ease-out;
        animation: fadeIn 0.5s ease-out;
    }

    .specials .details h3 {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 20px;
        color: #fff;
    }

    .specials .details p {
        color: #aaaaaa;
    }

        .specials .details p:last-child {
            margin-bottom: 0;
        }

@media (max-width: 992px) {
    .specials .nav-link {
        border: 0;
        padding: 15px;
    }
}
/** {
    outline: 1px solid red;
}*/
.single-line {
    border: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

    .single-line:focus {
        outline: none;
        border: 2px solid rgb(220,220,220);
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
.blink_me {
    animation: blinker 2s ease-in-out infinite alternate;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-size: 75%, 75%;
    border-radius: 50%;
    border: 5px solid rgba(150,150,150.5);
    background-image: none;
    background-color: rgba(30,50,70,.4);
}

    .carousel-control-next-icon:after {
        content: '>';
        font-size: 25px;
        font-weight: 800;
        color: white;
    }

    .carousel-control-prev-icon:after {
        content: '<';
        font-size: 25px;
        font-weight: 800;
        color: white;
    }