<div id="nMap" class="text-center fs-1" data-aos="zoom-in-left" data-aos-duration="3000">
    Scan Status
    <hr class="shr" />
</div>

<span id="commandStatus" class="badge text-bg-info p-3 float-end"></span>
<div class="container text-black-50 mb-1" style="letter-spacing:2px;" data-aos="zoom-in-left" data-aos-duration="3000">
    <div class="row">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Scan Id</th>
                    <th>Scan Type</th>
                    <th>Command</th>
                    <th>Trigger At</th>
                    <th>Completed At</th>
                    <th>Scan Status</th>
                    <th>Scan Result</th>
                </tr>
            </thead>
            <tbody id="scanstatusTableBody"></tbody>
        </table>
    </div>
</div>

