.no_highlights {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.title {
	display: inline-block;
	font-size: 10px;
}
.pageBar {
	margin-bottom: 10px;
	display: inline;
	float: right;
}

.pItem {
	padding: 5px;	
	border-radius:50%;
	margin-left: 2px;
	border: 1px solid black;
	cursor: pointer;
	font-size: 10px;
	background-color: rgba(128, 128, 128, .5);
}

.bold {
	font-weight: bolder;
	background-color:  orange;
}

.items {
	overflow: auto;
	padding: 5px;
	float: left;
}

.arrow {
	float: left;
	font-weight: bolder;
	font-size: 18px;
	cursor: pointer;
	margin: 4px;
}

.niceTable {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.niceTable td, .niceTable th {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

.niceTable tr:nth-child(even) {
	background-color: #f2f2f2;
}

.niceTable tr:hover {
	background-color: #ddd;
}

.niceTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #04AA6D;
	color: white;
}
.point{
    cursor:pointer;    
}
.f-sm{
    font-size:10px;
}
.nowrap {
    white-space:nowrap;
}